<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swz.mapper.PersonMapper">
    <!-- 对这个语句开启二级缓存 -->
    <!--<cache type="com.swz.redis.MybatisRedisCache"/>-->

    <resultMap id="PersonRS" type="com.swz.pojo.domain.PersonDO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="address" property="address"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="status" property="status"/>
        <result column="user_uuid" property="userUuid"/>
    </resultMap>

    <sql id="Person_Column_List">
        id, name, age, address,DATE_FORMAT(create_date,'%Y-%m-%d %T') as create_date,DATE_FORMAT(update_date,'%Y-%m-%d %T') as update_date,status,user_uuid
    </sql>

    <insert id="insertPerson" parameterType="com.swz.pojo.domain.PersonDO">
        insert into person
        values (null,#{name},#{age},#{address},now(),now(),'1',#{userUuid})
    </insert>

    <select id="getPerson" resultMap="PersonRS" parameterType="java.lang.Long">
        select
        <include refid="Person_Column_List"/>
        from person
        where id = #{id}
    </select>

    <delete id="updatePerson" parameterType="com.swz.pojo.domain.PersonDO">
        update person
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="age != null">age = #{age},</if>
            <if test="address != null">address = #{address},</if>
            update_date = now()
        </set>
        where id = #{id}
    </delete>

    <delete id="deletePerson" parameterType="java.lang.Long">
        update person
        set status = '0',
        update_date = now()
        where id = #{id}
    </delete>

    <delete id="deletePersons" parameterType="java.util.List">
        update person
        set status = '0',
        update_date = now()
        where id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 对这个语句useCache="true"默认是true，可以不写 -->
    <select id="listPersonsAll" resultMap="PersonRS">
        select
        <include refid="Person_Column_List"/>
        from person
        where status = '1'
        order by id desc
    </select>

    <!-- 对这个语句useCache="true"默认是true，可以不写 -->
    <select id="listPersonsPage" resultMap="PersonRS">
        select
        <include refid="Person_Column_List"/>
        from person
        where status = '1'
        order by id desc
    </select>
</mapper>