<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>文件上传</title>
</head>
<body>
<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <div><label> 文件1 : <input type="file" name="file1"/> </label></div>
    <div><label> 文件2 : <input type="file" name="file2"/> </label></div>
    <div><input type="submit" value="上传"/></div>
</form>

<form th:action="@{/upload1}" method="post" enctype="multipart/form-data">
    <div><label> 文件 : <input type="file" name="file"/> </label></div>
    <div><input type="submit" value="上传"/></div>
</form>

<form th:action="@{/upload2}" method="post" enctype="multipart/form-data">
    <div><label> 文件1 : <input type="file" name="file"/> </label></div>
    <div><label> 文件2 : <input type="file" name="file2"/> </label></div>
    <div><input type="submit" value="上传"/></div>
</form>
</body>
</html>